

<%= form.send :hidden_field, field.name, :id=>field.latitude_dom_name %>
<%= form.send :hidden_field, field.longitude_field, :id=>field.longitude_dom_name %>

<script type="text/javascript">
  $(function() {
    google.maps.event.addDomListener(window, 'load', init_map_field(<%= field.default_zoom_level %>, <%= field.default_latitude %>, <%= field.default_longitude %>, '<%=field.latitude_dom_name %>', '<%=field.longitude_dom_name %>'));
  });
</script>
<div class="map-container" id="my_map" style="width:800px; height:400px;"></div>
