<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{field.google_api_key}&sensor=true" %>

<script type="text/javascript">
function init_map_field(){
  var isMarker = false;
  var myOptions = {
    zoom:<%=field.default_zoom_level %>,
    center: new google.maps.LatLng(47.919146, 106.917765),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

  google.maps.event.addListener(map, 'click', function(event){
    alert('Lat: ' + event.latLng.lat() + ' and Longitude is: ' + event.latLng.lng());

    var image = 'google_marker.jpg';
    var myLatLng = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng());
    var beachMarker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: image
    });

    document.getElementById("#{field.latitude_dom_name}").value(event.latLng.lat());
    document.getElementById("#{field.longitude_dom_name}").value(event.latLng.lng());

    console.log(document.getElementById("#{field.latitude_dom_name}").value(event.latLng.lat()));
    console.log(document.getElementById("#{field.longitude_dom_name}").value(event.latLng.lng()));

  });
}

google.maps.event.addDomListener(window, 'load', init_map_field);

</script>

<div class="map-container" id="map-canvas" style="width:800px; height:400px;">

</div>
<input type="hidden" name="<%= field.name %>" id="<%= field.latitude_dom_name %>"/>
<input type="hidden" name="<%= field.longitude_field %>" id="<%= field.longitude_dom_name %>"/>
